/* Reset CSS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Reset heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset links styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove default button styles */
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
}

/* Reset form elements */
input,
textarea,
select,
button {
  margin: 0;
}

/* Make images responsive */
img {
  display: block;
  max-width: 100%;
  height: auto;
}